.head {
  width: 100%;
  min-width: 1200px;
  margin-bottom: 50px; }
  .head .nav-box {
    list-style: none;
    background: gainsboro;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    filter: alpha(Opacity=60);
    opacity: 0.6;
    position: relative; }
    .head .nav-box h1 {
      float: left;
      line-height: 80px;
      color: #C3B28C;
      font-size: 50px; }
    .head .nav-box .nav {
      list-style: none;
      height: 80px;
      width: 1200px;
      margin: 0 auto;
      line-height: 80px; }
      .head .nav-box .nav li {
        float: right;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        position: relative;
        top: 25px; }
        .head .nav-box .nav li a {
          text-decoration: none;
          color: black; }
          .head .nav-box .nav li a:hover {
            color: #C3B28C; }
  .head p {
    width: 950px;
    height: 210px;
    margin: 0 auto;
    filter: alpha(Opacity=70);
    opacity: 0.7;
    font-size: 36px;
    position: relative;
    text-align: center; }

@keyframes rotateBG {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.index-head {
  background: url(../images/index_bg.png) no-repeat center;
  height: 798px; }
  .index-head .nav-box h1 {
    margin-left: 80px; }
  .index-head .nav-box .audioControl {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 100px;
    right: 30px;
    background: url("../images/play.png") no-repeat center/100% 100%;
    z-index: 999;
    animation: rotateBG 3s linear infinite; }
  .index-head p {
    background: #cbb990;
    color: white;
    top: 190px;
    padding-top: 100px; }

.service {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  text-align: center; }
  .service .title {
    width: 1200px;
    margin: 0 auto;
    text-align: center; }
    .service .title h2 {
      font-size: 26px; }
    .service .title p {
      font-size: 14px;
      color: #8c8984;
      line-height: 30px; }
      .service .title p + p {
        padding-bottom: 20px; }
  .service .service-pic div {
    width: 350px;
    float: left;
    padding: 10px;
    position: relative; }
    .service .service-pic div:nth-of-type(2) {
      margin-right: 30px;
      margin-left: 30px; }
      .service .service-pic div:nth-of-type(2) .pic-a img {
        width: 350px;
        height: 522px; }
      .service .service-pic div:nth-of-type(2) .pic-a:hover span {
        padding-top: 250px;
        height: 272px; }
    .service .service-pic div .pic-a img {
      padding: 5px;
      transition: all 0.6s;
      width: 350px;
      height: 254px; }
    .service .service-pic div .pic-a span {
      display: none; }
    .service .service-pic div .pic-a:hover span {
      width: 350px;
      height: 134px;
      position: absolute;
      top: 15px;
      left: 15px;
      display: block;
      transform: scale(0.9);
      transition: all 0.6s;
      padding-top: 120px;
      background: #c7c0b2;
      font-size: 30px;
      color: black;
      filter: alpha(Opacity=50);
      opacity: 0.5; }
    .service .service-pic div .pic-a:hover img {
      transform: scale(0.9); }

.comment {
  width: 100%;
  min-width: 1200px;
  height: 417px;
  background: url(../images/comment_bg.png) no-repeat center; }
  .comment .item {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    top: 87px;
    left: 10px; }
    .comment .item h2 {
      color: white;
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .comment .item p {
      line-height: 30px;
      color: white;
      text-align: center; }

.case {
  width: 1200px;
  height: 650px;
  margin: 50px auto 200px; }
  .case .title {
    margin: 0 auto;
    text-align: center; }
    .case .title p {
      padding-bottom: 20px;
      color: #8c8984; }
  .case .case-left {
    float: left;
    width: 590px;
    overflow: hidden; }
    .case .case-left .case-pic img {
      transition: all 0.6s;
      width: 590px;
      height: 260px; }
    .case .case-left .case-pic:hover img {
      transform: scale(0.9); }
    .case .case-left h4 {
      font-size: 20px;
      float: left; }
    .case .case-left p {
      font-size: 14px;
      line-height: 30px;
      float: left; }
  .case .case-right {
    float: left;
    width: 580px;
    height: 550px;
    margin-left: 10px;
    overflow: hidden;
    position: relative; }
    .case .case-right div {
      float: left;
      padding-left: 10px;
      padding-bottom: 10px;
      padding-right: 10px; }
      .case .case-right div .case-pic img {
        width: 270px;
        height: 230px;
        transition: all 0.6s; }
      .case .case-right div .case-pic:hover img {
        transform: scale(0.9); }
      .case .case-right div .case-pic p {
        font-size: 20px;
        line-height: 30px;
        text-align: center; }

.brand-story {
  width: 100%;
  min-width: 1200px;
  height: 500px;
  background: #efeded; }
  .brand-story .brand-left {
    float: left;
    width: 527px;
    height: 383px;
    overflow: hidden; }
    .brand-story .brand-left img {
      transition: all 1s; }
      .brand-story .brand-left img:hover {
        transform: scale(1.1);
        opacity: .8; }
  .brand-story .brand-right {
    float: right;
    width: 527px;
    height: 383px;
    overflow: hidden; }
    .brand-story .brand-right img {
      transition: all 1s; }
      .brand-story .brand-right img:hover {
        transform: scale(1.1);
        opacity: .8; }
  .brand-story .story-box .story-con {
    text-align: center; }
    .brand-story .story-box .story-con .p-title {
      padding-bottom: 20px;
      color: #8c8984; }
    .brand-story .story-box .story-con .p-story {
      line-height: 30px;
      font-size: 14px; }
  .brand-story .story-box .brand-bottom {
    text-align: center; }
    .brand-story .story-box .brand-bottom img {
      padding-top: 60px;
      width: 400px;
      height: 74px; }

.team {
  width: 1200px;
  height: 600px;
  margin: 100px auto 0; }
  .team h2 {
    font-size: 40px;
    margin: auto;
    text-align: center; }
  .team div {
    margin-top: 50px;
    width: 280px;
    height: 480px;
    background: #efe5d3;
    float: left;
    margin-left: 15px; }
    .team div .team-pic img {
      width: 280px;
      transition: all 0.6s; }
    .team div .team-pic:hover img {
      transform: scale(0.9); }
    .team div p {
      font-size: 23px;
      line-height: 40px;
      text-align: center; }
    .team div span {
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      display: inline-block; }

.foot {
  width: 100%;
  min-width: 1200px;
  height: 245px;
  background: #f0efef;
  margin-top: 100px; }
  .foot p {
    text-align: center;
    color: #8c8984;
    font-size: 18px;
    line-height: 30px; }
    .foot p img {
      padding-top: 50px; }

.tool {
  position: absolute;
  bottom: 20px;
  right: 0;
  height: 180px;
  width: 60px;
  border-radius: 5px;
  background: rgba(204, 204, 204, 0.3); }
  .tool a {
    width: 60px;
    height: 60px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    color: white;
    font-family: icomoon;
    font-size: 18px;
    position: relative; }
    .tool a div {
      position: absolute;
      top: 0;
      background: rgba(204, 204, 204, 0.8);
      font-size: 14px;
      color: #fff;
      line-height: 20px; }
      .tool a div::after {
        content: '\ea1c';
        position: absolute;
        font-family: icomoon;
        right: -11px;
        color: rgba(204, 204, 204, 0.8); }
    .tool a.contact {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .tool a.contact div {
        width: 130px;
        left: -138px;
        top: -20px;
        padding: 10px 0;
        display: none; }
        .tool a.contact div::after {
          top: 46px; }
    .tool a.erweima div {
      width: 90px;
      height: 90px;
      left: -108px;
      top: -20px;
      display: none;
      padding: 5px; }
      .tool a.erweima div::after {
        top: 46px; }
    .tool a.returnTop {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .tool a + a::before {
      content: '';
      width: 40px;
      border-bottom: 1px solid rgba(204, 204, 204, 0.7);
      z-index: 1;
      position: absolute;
      left: 10px; }
    .tool a:hover {
      background: rgba(204, 204, 204, 0.5); }

/* login */
.team-head {
  height: 580px;
  background: url(../images/team_bg.jpg) no-repeat center; }
  .team-head .nav-box h1 {
    margin-left: 100px; }
  .team-head p {
    color: white;
    top: 90px;
    padding-top: 100px; }

.team-introduce-1 {
  background: #f7f7f7;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  margin: auto; }
  .team-introduce-1 div {
    width: 1400px;
    height: 368px;
    position: relative;
    margin: 50px auto; }
    .team-introduce-1 div a img {
      float: right;
      width: 583px;
      height: 368px;
      transition: all 0.6s; }
    .team-introduce-1 div a:hover img {
      transform: scale(0.9); }
    .team-introduce-1 div a input {
      line-height: 30px;
      font-size: 20px;
      float: left;
      width: 200px;
      height: 30px;
      border: 1px solid #c8c7c7;
      border-radius: 5px;
      position: absolute;
      top: 332px;
      left: 5px;
      background: #c8c7c7; }
    .team-introduce-1 div h2 {
      font-size: 36px;
      padding-bottom: 20px; }
    .team-introduce-1 div p {
      font-size: 20px;
      padding-bottom: 10px; }
    .team-introduce-1 div span {
      line-height: 30px; }

.team-introduce-2 {
  width: 100%;
  min-width: 1200px;
  margin: 50px auto;
  overflow: hidden; }
  .team-introduce-2 div {
    width: 1400px;
    height: 368px;
    position: relative;
    margin: 50px auto;
    overflow: hidden; }
    .team-introduce-2 div a img {
      float: left;
      width: 583px;
      height: 368px;
      padding-right: 20px;
      transition: all 0.6s; }
    .team-introduce-2 div a:hover img {
      transform: scale(0.9); }
    .team-introduce-2 div a input {
      line-height: 30px;
      font-size: 20px;
      width: 200px;
      height: 30px;
      border: 1px solid #7cdbe9;
      border-radius: 5px;
      position: absolute;
      top: 332px;
      left: 602px;
      background: #7cdbe9; }
    .team-introduce-2 div h2 {
      font-size: 36px;
      padding-bottom: 20px; }
    .team-introduce-2 div p {
      font-size: 20px;
      padding-bottom: 10px; }
    .team-introduce-2 div span {
      line-height: 30px; }

.team-introduce-3 {
  background: #f7f7f7;
  width: 100%;
  min-width: 1200px;
  margin: 50px auto 0;
  overflow: hidden; }
  .team-introduce-3 div {
    width: 1400px;
    height: 368px;
    position: relative;
    margin: 50px auto;
    overflow: hidden; }
    .team-introduce-3 div a img {
      float: right;
      width: 583px;
      height: 368px;
      padding-left: 20px;
      transition: all 0.6s; }
    .team-introduce-3 div a:hover img {
      transform: scale(0.9); }
    .team-introduce-3 div a input {
      line-height: 30px;
      font-size: 20px;
      width: 200px;
      height: 30px;
      border: 1px solid #b27bd9;
      border-radius: 5px;
      position: absolute;
      top: 332px;
      left: 5px;
      background: #b27bd9; }
    .team-introduce-3 div h2 {
      font-size: 36px;
      padding-bottom: 20px; }
    .team-introduce-3 div p {
      font-size: 20px;
      padding-bottom: 10px; }
    .team-introduce-3 div span {
      line-height: 30px; }

.dress-head {
  height: 390px;
  background: url(../images/dress_bg.png) no-repeat center; }
  .dress-head .nav-box h1 {
    margin-left: 100px; }
  .dress-head p {
    color: black;
    top: 20px;
    padding-top: 100px; }

.make-box {
  width: 1200px;
  margin: auto;
  text-align: center;
  overflow: hidden; }
  .make-box h2 {
    font-size: 40px; }
  .make-box > p {
    font-size: 20px; }
  .make-box dl {
    float: left;
    width: 400px;
    margin-top: 50px; }
    .make-box dl dt a img {
      transition: all 0.6s; }
    .make-box dl dt a:hover img {
      transform: scale(1.1); }
    .make-box dl dd {
      font-size: 20px;
      color: #4e4d4d;
      padding-top: 10px;
      padding-bottom: 10px; }
    .make-box dl span {
      line-height: 30px;
      color: #363535; }

.dress-box {
  width: 1200px;
  margin: 80px auto 0;
  text-align: center;
  overflow: hidden; }
  .dress-box h2 {
    font-size: 40px; }
  .dress-box > p {
    font-size: 20px; }
  .dress-box dl {
    float: left;
    width: 400px;
    margin-top: 50px; }
    .dress-box dl dt a img {
      transition: all 0.6s;
      width: 350px;
      height: 457px; }
    .dress-box dl dt a:hover img {
      transform: scale(1.05); }
    .dress-box dl dd {
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #292828; }
    .dress-box dl span {
      line-height: 30px;
      color: #8a8585; }
  .dress-box div {
    width: 1200px;
    margin: auto; }
    .dress-box div .big-pic {
      float: left;
      margin-left: 20px;
      margin-right: 170px; }
      .dress-box div .big-pic img {
        width: 572px;
        height: 485px; }
      .dress-box div .big-pic dd {
        padding-left: 180px; }
      .dress-box div .big-pic span {
        padding-left: 180px; }

.makeup-box {
  width: 1200px;
  margin: 80px auto 0;
  text-align: center;
  overflow: hidden; }
  .makeup-box h2 {
    font-size: 40px; }
  .makeup-box > p {
    font-size: 20px; }
  .makeup-box dl {
    float: left;
    position: relative; }
    .makeup-box dl .makeup-a img {
      width: 400px;
      height: 482px; }
    .makeup-box dl .makeup-a span {
      display: none;
      width: 400px;
      box-sizing: border-box;
      padding: 10px;
      color: white;
      font-size: 16px;
      position: absolute;
      bottom: 10px;
      left: 0px;
      text-align: right;
      line-height: 30px; }
      .makeup-box dl .makeup-a span h4 {
        font-size: 26px; }
    .makeup-box dl .makeup-a:hover span {
      display: block; }

.login-head-box {
  height: 572px;
  background: url(../images/login_bg.jpg) no-repeat center;
  position: relative; }
  .login-head-box .nav-box h1 {
    margin-left: 100px; }
  .login-head-box .login-box {
    width: 1200px;
    height: 415px;
    margin: 40px auto 0; }
    .login-head-box .login-box .login-con {
      width: 385px;
      height: 415px;
      margin: 0 auto;
      background: white;
      text-align: center; }
      .login-head-box .login-box .login-con p {
        width: 385px;
        background: gainsboro;
        height: 54px;
        line-height: 54px;
        color: dimgrey;
        font-size: 16px;
        opacity: 1; }
      .login-head-box .login-box .login-con .login {
        width: 300px;
        height: 200px;
        margin: 50px auto 0;
        text-align: center;
        list-style-type: none; }
        .login-head-box .login-box .login-con .login li {
          font-size: 14px;
          margin-bottom: 10px; }
          .login-head-box .login-box .login-con .login li input {
            width: 280px;
            height: 38px;
            border: 1px solid gainsboro;
            border-radius: 3px;
            text-indent: 10px; }
            .login-head-box .login-box .login-con .login li input:hover {
              border: 1px solid cornflowerblue; }
          .login-head-box .login-box .login-con .login li span {
            opacity: 0;
            font-size: 12px;
            color: deeppink; }
          .login-head-box .login-box .login-con .login li button {
            width: 280px;
            height: 40px;
            background: cornflowerblue;
            color: white;
            font-size: 16px;
            border: 1px solid cornflowerblue;
            border-radius: 5px; }
      .login-head-box .login-box .login-con .login-tip {
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px; }
      .login-head-box .login-box .login-con .retrieve {
        font-size: 15px; }
        .login-head-box .login-box .login-con .retrieve a:hover {
          color: cornflowerblue; }

.login-footer {
  margin-top: -50px; }

.catch-header {
  height: 580px;
  background: url(../images/team_bg.jpg) no-repeat center; }
  .catch-header .nav-box h1 {
    margin-left: 100px; }
  .catch-header p {
    color: white;
    top: 90px;
    padding-top: 100px; }

.catch-detailed {
  width: 1200px;
  margin: auto; }
  .catch-detailed a img {
    float: left;
    width: 582px;
    height: 378px;
    margin-right: 30px;
    transition: all 0.6s; }
    .catch-detailed a img:hover img {
      transform: scale(0.9); }
  .catch-detailed h2 {
    font-size: 36px;
    padding-bottom: 20px; }
  .catch-detailed p {
    font-size: 20px;
    padding-bottom: 10px; }
  .catch-detailed span {
    line-height: 30px; }

.about-head {
  height: 580px;
  background: url(../images/about_bg.png) no-repeat center; }
  .about-head .nav-box h1 {
    margin-left: 100px; }
  .about-head p {
    color: white;
    top: 90px;
    padding-top: 100px; }
    .about-head p span {
      font-size: 35px;
      line-height: 80px; }

@keyframes shadeRightToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }
.synopsis {
  width: 1200px;
  margin: 0 auto 50px;
  height: 400px;
  overflow: hidden; }
  .synopsis .synopsis-img-box {
    float: left;
    width: 370px;
    height: 370px;
    overflow: hidden;
    position: relative; }
    .synopsis .synopsis-img-box:hover .hoverImg {
      opacity: 1; }
    .synopsis .synopsis-img-box .synopsis-img {
      width: 370px;
      height: 370px;
      position: relative; }
    .synopsis .synopsis-img-box .shadeDiv {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 33.33%;
      left: 0; }
      .synopsis .synopsis-img-box .shadeDiv:nth-of-type(1) {
        top: 0%;
        animation: shadeRightToLeft 1s linear 0s forwards; }
      .synopsis .synopsis-img-box .shadeDiv:nth-of-type(2) {
        top: 33.33%;
        animation: shadeRightToLeft 1s linear 0.2s forwards; }
      .synopsis .synopsis-img-box .shadeDiv:nth-of-type(3) {
        top: 66.66%;
        animation: shadeRightToLeft 1s linear 0.4s forwards; }
    .synopsis .synopsis-img-box .hoverImg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 1.5s linear; }
  .synopsis h3 {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    float: left;
    width: 800px;
    font-size: 25px; }
  .synopsis p, .synopsis .synopsis-con {
    width: 800px;
    float: left;
    padding-left: 30px;
    line-height: 25px;
    word-break: break-word; }

.weTeam {
  width: 1200px;
  margin: 50px auto 0;
  height: 250px; }
  .weTeam h3 {
    font-size: 25px; }
  .weTeam div {
    overflow: hidden;
    height: 198px;
    position: relative; }
    .weTeam div ul {
      width: 2336px;
      height: 198px;
      position: absolute; }
      .weTeam div ul li {
        float: left;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 20px; }
        .weTeam div ul li a img {
          transition: all 0.6s; }
        .weTeam div ul li a:hover img {
          transform: scale(0.9); }

.news-head {
  height: 390px;
  background: url(../images/news_bg.png) no-repeat center/100% auto; }
  .news-head .nav-box h1 {
    margin-left: 100px; }
  .news-head p {
    color: white;
    top: 20px;
    padding-top: 100px; }
    .news-head p span {
      font-size: 35px; }

.news-wrap {
  width: 1200px;
  margin: auto; }
  .news-wrap .news-title {
    width: 1200px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 50px; }
  .news-wrap .news-con-item {
    background: #f9f9f9;
    width: 600px;
    height: 160px;
    float: left;
    margin-bottom: 50px; }
    .news-wrap .news-con-item.news-display {
      display: none; }
    .news-wrap .news-con-item li a img {
      width: 200px;
      height: 133px;
      float: left;
      margin-right: 20px;
      padding-top: 13px;
      padding-left: 10px;
      transition: all 0.6s; }
    .news-wrap .news-con-item li a:hover img {
      transform: scale(1.1); }
    .news-wrap .news-con-item li .news-item-title {
      font-size: 20px;
      padding-top: 10px; }
    .news-wrap .news-con-item li .news-item-con {
      line-height: 25px; }
  .news-wrap .news-more {
    border: none;
    line-height: 40px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    background: #fff;
    outline: none;
    font-family: icomoon;
    cursor: pointer;
    color: #CFCFCF; }

/*# sourceMappingURL=index.css.map */
